<div class="content-card align-items-center" [ngClass]="{'dog': pet.petTypeId == 1, 'cat': pet.petTypeId == 2}" *ngFor="let pet of pets">
    <div class="image-pet flex gap-10 align-items-center">
        <img src="{{pet.imageUrl}}" alt="NOGHERIC PET" *ngIf="pet.petTypeId == 1">
        <img src="{{pet.imageUrl}}" alt="NOGHERIC PET" *ngIf="pet.petTypeId == 2">
    </div>
    <div class="flex flex-direction-column card-information">
        <div class="name-pet">
            {{pet.name}}
        </div>
        <div class="description-pet">
            {{pet.description}}
        </div>
        <div class="info-contact flex flex-direction-column">
            <div>
                <i class="bi bi-phone"></i> {{pet.cellphone}}
            </div>
            <div>
                <i class="bi bi-envelope"></i> {{pet.email}}
            </div>
            <div>
                <i class="bi bi-pin-map"></i> {{pet.address}}, {{pet.department}}
            </div>
        </div>
    </div>
</div>



