
.content-pets {
    // margin: 10px 15px;
    // width: 450px;
    margin: auto;
    width: 350px;
    & .app-card-content {
        // display: grid;
        // grid-template-columns: repeat(auto-fit,510px);
        // grid-gap: 15px;
    }
}

/* Pantallas pequeñas (móviles en landscape de más de 576px) */
@media (min-width: 576px) {
    .content-pets {
        width: 550px;
    }
}

/* Pantallas medianas (tablets de más de 768px) */
@media (min-width: 768px) { 

}

/* Pantallas grandes (desktops de más de 992px) */
@media (min-width: 992px) {

}

/* Pantallas muy grandes (desktops de más de 1200px) */
@media (min-width: 1200px) {

}