<div class="content-popup-support-bottom" id="popupsupport-bottom">
    <div class="flex justify-content-center align-items-center">
        <div class="close flex justify-content-center align-items-center" (click)="closeSupportBottom()">
            <span>x</span>
        </div>
        <div class="image">
            <img src="../../../../assets/image_support.png" alt="NOGHERIC">
        </div>
        <div class="question">
            <p>¿Te gustaría apoyar el proyecto?</p>
            <button (click)="handleBtnBottom()">¡Quiero apoyar!</button>
        </div>
    </div>
</div>

<div class="content-popup-support-left" id="popupsupport-left">
    <div class="flex justify-content-center align-items-center flex-direction-column">
        <div class="close flex justify-content-center align-items-center" (click)="closeSupportLeft()">
            <span>x</span>
        </div>
        <div style="height: 100%;" class="flex justify-content-center align-items-center flex-direction-column">
            <div class="flex justify-content-start title">
                <h2>Bienvenidos!</h2>
            </div>
            <div class="description">
                <p>
                    Allqu y Michi es un proyecto de <span>Nogheric</span>, el cual busca poder encontrar familia para cada uno de los gatitos y perritos que se encuentran solitos.
                </p>
                <p>
                    ¿Te gustaría apoyar el proyecto? Dale click.
                </p>
            </div>
            <div class="button-support">
                <button >¡Quiero apoyar!</button>
            </div>
        </div>
        <img src="../../../../assets/image_support.png" alt="NOGHERIC">
    </div>
</div>
